node_modules/
.gradle/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/.gradle/
android/app/.cxx/
android/app/build/
android/build/
local.properties
ios/build/
ios/Pods/
